.section-container {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  height: max-content;
  padding: rem(24);
  background-color: var(--color-light);
  border-radius: var(--border-radius-16);
  box-shadow: 0 rem(3) rem(8) 0 rgba(0, 0, 0, 0.12);
  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;

  @include hover {
    box-shadow: 0 rem(3) rem(8) 0 rgba(0, 0, 0, 0.22);
  }
}

.section-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.section-container__header-actions {
  display: flex;
  gap: rem(12);
}
