@use "helpers/index" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.btn {
  position: relative;
  padding: rem(8) rem(24);
  font-weight: 500;
  line-height: rem(24);
  color: var(--color-dark-blue);
  background-color: var(--color-dark-light);
  border: 1px solid var(--color-dark-blue);
  border-radius: 25px;
  transition-property: color, background-color;

  @include fluid-text(16, 15);

  @include hover {
    color: var(--color-light);
    background-color: var(--color-dark-blue);
  }

  &--close {
    &::after {
      @include square(8);

      content: "";
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8.00012 8.00012' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='8.000122' height='8.000122' fill='none' customFrame='%23000000'%3E%3Crect id='Btn/ cross mini' width='8.000043' height='8.000118' x='0.000000' y='0.000000' /%3E%3Cpath id='Btn/ cross mini' d='M3.99996 5.22229L1.37727 7.84498C1.12213 8.10013 0.641687 8.03336 0.304183 7.69586C-0.0333213 7.35836 -0.100086 6.87792 0.15506 6.62277L2.77775 4.00008L0.155017 1.37735C-0.100129 1.1222 -0.0333645 0.641762 0.30414 0.304258C0.641644 -0.0332461 1.12208 -0.100011 1.37723 0.155135L3.99996 2.77787L6.62282 0.155017C6.87796 -0.100129 7.3584 -0.0333648 7.6959 0.30414C8.03341 0.641644 8.10017 1.12208 7.84503 1.37723L5.22217 4.00008L7.84498 6.62289C8.10013 6.87804 8.03336 7.35847 7.69586 7.69598C7.35836 8.03348 6.87792 8.10025 6.62277 7.8451L3.99996 5.22229Z' fill='rgb(255,0,0)' fill-rule='evenodd' /%3E%3Cpath id='Btn/ cross mini' d='M3.99996 5.22229L1.37727 7.84498C1.12213 8.10013 0.641687 8.03336 0.304183 7.69586C-0.0333213 7.35836 -0.100086 6.87792 0.15506 6.62277L2.77775 4.00008L0.155017 1.37735C-0.100129 1.1222 -0.0333645 0.641762 0.30414 0.304258C0.641644 -0.0332461 1.12208 -0.100011 1.37723 0.155135L3.99996 2.77787L6.62282 0.155017C6.87796 -0.100129 7.3584 -0.0333648 7.6959 0.30414C8.03341 0.641644 8.10017 1.12208 7.84503 1.37723L5.22217 4.00008L7.84498 6.62289C8.10013 6.87804 8.03336 7.35847 7.69586 7.69598C7.35836 8.03348 6.87792 8.10025 6.62277 7.8451L3.99996 5.22229Z' fill='rgb(11,23,57)' fill-rule='evenodd' /%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }
}
