.content-info-item {
  display: grid;
  grid-template-columns: rem(160) 1fr;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  row-gap: rem(12);

  align-items: start;

  &.is-form {
    align-items: center;
  }

  font-size: rem(13);
  font-weight: 400;
  line-height: rem(20);
  letter-spacing: rem(0.25);
  padding: rem(4) 0;

  &__body, &__text {
    color: rgba(0, 0, 0, 0.8);
  }

  &--inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: rem(8);

    .content-info-item__label {
      width: auto;
    }

    .content-info-item__field {
      flex: 0 0 auto;
    }
  }
}

.content-info-item__label {
  color: rgba(0, 0, 0, 0.5);
}