.select {
  position: relative;

  &__error {
    font-size: 12px;
    color: var(--color-red);
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    background: var(--color-light);
    border: 1px solid #cccccc;
    border-radius: var(--border-radius-8);
    cursor: pointer;
    transition-duration: var(--transition-duration);

    &--error {
      border-color: var(--color-red);
    }

    &:hover {
      border-color: #666666;
    }

    &.open,
    &:focus,
    &:focus-visible,
    &:active {
      border-color: #2d8cf0;
      box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    }
  }

  &__value {
    flex: 1;
    color: #333333;
  }

  &__arrow {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

  &__dropdown {
    @include hide-scroll;

    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    overflow-y: auto;
    max-height: 200px;
    background: var(--color-light);
    border-radius: var(--border-radius-8);
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.16),
      0 rem(-1) 4px 0 rgba(0, 0, 0, 0.04);
    transition-duration: var(--transition-duration);
    transition-timing-function: ease;

    &.bottom {
      top: calc(100% + 4px);
    }

    &.top {
      bottom: calc(100% + 4px);
    }
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    cursor: pointer;

    &:hover {
      background: #0000000d;
    }

    &.selected {
      background: #0000000d;
    }
  }

  &__checkbox {
    margin-right: 6px;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
