.base-modal {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 360px;
  padding: 24px;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius-8);
  transition-duration: var(--transition-duration);
  transition-property: scale;
  scale: 1;

  @starting-style {
    scale: 0;
  }


  &::backdrop {
    background-color: var(--color-dark-20);
    opacity: 1;
    transition-duration: var(--transition-duration);
    transition-property: all;
    backdrop-filter: blur(5px);

    @starting-style {
      opacity: 0;
    }
  }
}

.base-modal__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.base-modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 24px;

  button {
    flex: 0 1 50%;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
}
