.base-modal {
  width: rem(360);
  padding: rem(24);
  border-radius: var(--border-radius-8);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  row-gap: rem(12);
  border: none;

  &::backdrop {
    transition-duration: var(--transition-duration);
    transition-property: backdrop-filter, background-color;
    background-color: var(--color-dark-20);
    backdrop-filter: blur(5px);
  }
}

.base-modal__title {
  text-align: center;
  font-size: rem(14);
  font-weight: 700;
  line-height: rem(24);
}

.base-modal__footer {
  margin-top: rem(24);
  display: flex;
  justify-content: space-between;
  gap: rem(16);
  button {
    flex: 0 1 50%;
    font-size: rem(13);
    font-weight: 600;
    line-height: rem(20);
  }
}