@use "helpers/index" as *;

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-family-base);
  font-size: rem(14);
  letter-spacing: 0;
  color: var(--color-dark-blue);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(54, 30);

  line-height: rem(55);
}

h2,
.h2 {
  @include fluid-text(58, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

h4,
.h4 {
  @include fluid-text(26, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-dark-blue);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}
