@use 'helpers' as *;

.container {
  width: 640px;
  height: 100%;
  margin-inline: auto;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 32px;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.loader {
  --c: no-repeat linear-gradient(var(--color-blue-secondary) 0 0);

  width: 130px;
  height: 4px;
  background: var(--c), var(--c), var(--color-light);
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}
