@use "helpers" as *;

.container {
  height: 100%;
  width: rem(640);
  margin-inline: auto;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: 0 0 rem(32) 0;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
