@use 'helpers/index' as *;

:root {
  --color-light: #ffffff;
  --color-light-body: #e5e5e5;

  --color-brand-primary: #3b3b3b;

  --color-dark: #000000;
  --color-dark-10: #00000020;
  --color-dark-20: #00000033;

  --color-red: #d72323;

  --color-blue: #35CDFD;
  --color-blue-variant: #6D4AFF;
  --color-blue-secondary: #6243E6;

  --border: #{1px} solid var(--color-dark-15);

  --border-radius-4: #{4px};
  --border-radius-8: #{8px};
  --border-radius-10: #{10px};
  --border-radius-16: #{16px};

  --shadow: 0 0 0 #{3px} #191919;

  --font-family-base: 'Poppins', sans-serif;

  --transition-duration: 0.2s;
}
