@use 'helpers/index' as *;

:root {
  --color-light: #ffffff;
  --color-light-body: #e5e5e5;

  --color-brand-primary: #3b3b3b;

  --color-dark: #000000;
  --color-dark-10: #00000020;
  --color-dark-20: #00000033;

  --color-red: #d72323;

  --border: #{rem(1)} solid var(--color-dark-15);

  --border-radius-4: #{rem(4)};
  --border-radius-8: #{rem(8)};
  --border-radius-10: #{rem(10)};
  --border-radius-16: #{rem(16)};

  --shadow: 0 0 0 #{rem(3)} #191919;

  --font-family-base: 'Poppins', sans-serif;

  --transition-duration: 0.2s;
}
