@use "helpers/index" as *;

:root {
  --color-light: #ffffff;

  --color-green: #3eb57c;

  --color-dark-blue: #0b1739;

  --color-red: #ff5500;

  --border: #{rem(1)} solid var(--color-dark-15);

  --shadow: 0 0 0 #{rem(3)} #191919;

  --font-family-base: "Poppins", sans-serif;

  --transition-duration: 0.2s;
}
