.main-layout {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  height: 100vh;
}

.main-layout__inner {

}

.main-layout__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-layout__content {
  overflow: auto;
  height: 100%;
  min-height: 0;
  padding: rem(32) 0;

  @include hide-scroll;
}
