.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(16);
  width: 100%;
  margin-bottom: rem(16);
}

.header__title {
  font-size: rem(28);
  font-weight: 500;
  line-height: rem(40);
  letter-spacing: rem(0.25);
}

.header__actions {
  display: flex;
  flex-wrap: nowrap;
  gap: rem(4);

  button:last-child {
    color: var(--color-red);
  }
}

.header__back {
  position: absolute;
  top: 50%;
  left: rem(-60);
  translate: 0 -50%;
}
