.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.header__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: rem(0.25);
}

.header__actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;

  button:last-child {
    color: var(--color-red);
  }
}

.header__back {
  position: absolute;
  top: 50%;
  left: rem(-60);
  translate: 0 -50%;
}
