.aside-menu {
  display: flex;
  height: 100vh;
  color: var(--color-light);
  box-shadow: 4px 0 16px 0 rgba(0, 0, 0, 0.08);
}

.aside-menu__panel {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 48px;
  padding: 20px 6px;
  background: var(--color-brand-primary);
}

.aside-menu__content-footer {
  align-self: end;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: rem(0.24);
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.aside-menu__content {
  overflow: hidden;
  width: 250px;
  background: var(--color-light);
  transition-duration: var(--transition-duration);
  transition-property: width;

  &.hidden {
    width: 0;
    opacity: 0;
  }
}

.aside-menu__content-header {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-dark-20);

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: rem(0.03);
    color: var(--color-dark);
  }

  &__subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: rem(0.24);
    color: var(--color-dark);
    opacity: 0.8;
  }
}

.aside-menu__content-inner {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 1fr;
  min-width: max-content;
  height: 100%;
  padding: 20px;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
}

.aside-menu__item {
  &--empty {
    flex-grow: 1;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 19px;
      height: 1px;
      background: #ffffff20;
      translate: -50%;
    }
  }
}

.aside-menu__content-btns {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 20px;
}
